/apiserver.local.config
/bin
/default.etcd
/kubeconfig
/config/crds/
/images/federation-v2/hyperfed
# temporarily added below file to ignore list to avoid someone pushing this file in a pr by accident.
/images/federation-v2/controller-manager
