/apiserver.local.config
/bin
/default.etcd
/kubeconfig
/config/crds/
# Ignore binaries built by the makefile to avoid accidentally committing them
/images/kubefed/hyperfed
/images/kubefed/controller-manager
